Flask==1.0.2
Flask-RESTful==0.3.7
Flask-SQLAlchemy==2.3.2
idna==2.8
ipython==7.4.0
ipython-genutils==0.2.0
jsonschema==3.0.1
pyrsistent==0.14.11
pytz==2018.9
requests==2.21.0
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
mongodb-org=4.4.3
mongodb-org-server=4.4.3
mongodb-org-shell=4.4.3
mongodb-org-mongos=4.4.3
mongodb-org-tools=4.4.3 
wheel=0.34.2
flask-mongoengine=1.0.0
josn
